*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body{
  background-color: #f4f6f8;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}