.header{
    width: 100%;
    margin: 25px 0 25px;
    min-height: 66px;
    padding: 20px;
    background-color: white;

    ul{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        li{
            height: 100%;
            width: auto;
            list-style: none;
            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: black;
                font-size: 18px;
                padding: 3px 10px;
            }
            a:hover{
                color: rgb(140, 207, 230);
            }
        }
    }
}